/* Fonts
font-family: 'Inter', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Syne', sans-serif;
font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;

}

body{
    background: linear-gradient(to top left,rgba(73, 20, 142, 0.655),rgba(16, 56, 255, 0.551)) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input{
    display: flex;
    justify-content: space-evenly;
}

.inputValue{
    background: transparent;
    width: 100%;
    height: 2em;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 2px;
    border: solid #121212b4 1px;
    outline: none;
    margin: 0 0 10px 0;
    padding-left: 2px;
}

.inputBtn{
    background: linear-gradient(to top left,rgba(73, 20, 142, 0.655) ,rgba(16, 56, 255, 0.551));
    color: #fff;
    width: 60%;
    height: 20%;
    margin-top: 0.65em;
    border: none;
    background-size: 200%;
    border-radius: 5px;
    transition: 0.6s;
}

.inputBtn:hover{
    cursor: pointer;
    background-position: right;
}

.box{
    height: 11em;
    width: 30%;
    padding: 0.6em;
    border-radius: 8px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 32px #969696;
}

.budget{
    width: 100%;
    margin-top: 3rem;
    border-radius: 0.65em;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
}

.count{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.counter{
    font-weight: 500;
    color: transparent;
    background: linear-gradient(to top left,rgba(73, 20, 142, 0.655) ,rgba(16, 56, 255, 0.551));
    -webkit-background-clip: text;    
    margin: 0.5rem;
}

.expenseList{
    margin-top: 2.5rem;
    width: 100%;
    max-height: 12em;
    padding: 0.6em;
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 32px #969696;
}


h3{
    padding: 0 1em 1em 0;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(to top left,rgba(73, 20, 142, 0.655) ,rgba(16, 56, 255, 0.551));
    -webkit-background-clip: text;
    font-family: 'Nunito Sans', sans-serif;
}

.expenseUl{
    list-style-type: none;
    width: 100%;
    max-height: 9em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenseUl::-webkit-scrollbar{
    display: none;
}

.block{
    font-family: 'Raleway', sans-serif;
    height: 1.5em;
    width: 95%;
    display: flex;
    border: solid 1px #12121256;
    border-radius: 5px;
    justify-content: space-between;
    cursor: grab;
    padding: 10px;
    margin: 5px 0;
}

.options{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    color: transparent;
    background: linear-gradient(to top left,rgba(73, 20, 142, 0.655) ,rgba(16, 56, 255, 0.551) ,rgba(73, 20, 142, 0.655));
    -webkit-background-clip: text;
    transition: 0.6s;
    background-size: 200%;
}

.btn:hover{
    background-position: right;
    cursor: pointer;
}


.dragging :where(p, div){
    opacity: 0;
}

@media (max-width: 700px){
    .input{
        flex-direction: column;
        align-items: center;
    }
    
    .box{
        margin-top: 10px;
        width: 95%;
        height: 8em;
        
    }
    
    .expense{
        height: 11em;
    }
    
    .container{
        width: 80%;
        position: relative;
        bottom: 90px;
    }
    
    .budget{
        margin-top: 1em;
    }
    
    .expenseList{
        margin-top: 1em;
        width: 95%;
    }

    .block{
        width: 90%;
    }

    .options{
        width: 30%;
    }

}